<p>Enter the username and password!</p>
<form action="/signup" method="post">
  <div>
    <label for="username">Username:</label>
    <input id="username" type="text" name="username"></input>
  </div>
  <div>
    <label for="password">Password:</label>
    <input id="password" type="password" name="password"></input>
  </div>
  <div>
    <label for="checkpassword">Password:</label>
    <input id="password" type="password" name="checkpassword"></input>
  </div>
  <div>
    <input type="submit" value="Sign Up"></input>
    <input type="reset" value="Clear"></input>
  </div>
</form>